@import './featured';

.container {
  font-family: sans-serif;
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 3fr;
  background-color: whitesmoke;
  padding: 0 6em;
}

.container>div:nth-of-type(1) {
  margin: 1rem;
  background-color: white;
  display: grid;
  grid-template-rows: 0fr 2fr;
  box-shadow: 0 0 5px #ebebeb;
}

.__article {

  &_date {
    border-color: lightgray;

    .social_share {
      display: flex;
      justify-content: flex-end;
    }
  }

  &_heading {
    display: grid;
    grid-template-rows: 1fr .5fr;
    border-bottom: thin solid;
    border-color: lightgray;

  }
}

section {

  ._content {
    margin: 1em 5em;
    font-size: 1.3rem;
    text-align: justify;
    line-height: 45px;

    p {
      font-weight: 400;
      font-size: 25px;
      display: flex;
      justify-content: center;
    }
  }


}



._item-zoom {
  position: relative;
  border: 1px thin solid lightgrey;
  overflow: hidden;
  width: 68rem;
  height: 30rem;
  box-sizing: border-box;
  margin-left: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}

._item-zoom img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

._item-zoom:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.title {
  padding: 0 3em 0 3em;

  h3 {
    font-weight: 700;
    font-size: 50px;
    text-transform: uppercase;
    line-height: 60px;
    color: black;
    display: block;
    padding-left: 15px;
    margin-top: 30px;
  }
}

.item {
  margin: 0.1rem;
  padding: 3.75em 3em 1.75em 3em;
  min-width: 17em;
  width: 17em;

  h4 {
    color: #646464;
    display: block;
    font-size: 1em;
    font-weight: 800;
    letter-spacing: 0.25em;
    margin-top: -5.5em;
    margin-bottom: 1em;
    margin-right: 0.5em;
    text-transform: uppercase;
    white-space: nowrap;
  }

  a {
    text-decoration: none;
    color: darkgrey;
    margin-top: 1em;
    margin-left: -1em;
  }
}

.author {
  display: flex;

  .name {
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.25em;
    text-transform: uppercase;
    white-space: nowrap;
    margin-top: 1rem;
    margin-right: .5em;
  }

  img {
    margin: .1rem;
    width: 3em;
    display: block;
    border-radius: 100px;
  }
}

.social_share {
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width:768px) {
  .container {
    display: inline;
  }

  .container>div:nth-of-type(1) {
    display: inline;
  }

  .__article {
    &_heading {
      display: inline;
      border-bottom: thin solid;
      border-color: lightgray;

    }

    ._content {
      margin-left: 1em;

      img {
        width: 20rem;
      }
    }

    .skewBtn {
      margin-left: 7rem;
    }
  }

  ._item-zoom {
    position: relative;
    border: 1px thin solid lightgrey;
    overflow: hidden;
    width: 350px;
    height: 250px;
    box-sizing: border-box;
    margin-left: 2em;
    margin-top: 2em;
    margin-bottom: 2em;
  }
}

@mixin buttonBG($bg) {
  border: 2px solid $bg;
  color: $bg;

  &:hover {
    background-color: $bg;
    transition: all 0.3s ease-in-out;
  }
}

.skewBtn {
  width: 100px;
  height: 40px;
  outline: none;
  cursor: pointer;
  background: none;
  transition: .5s;
  font-size: 24px;
  border-radius: 5px;
  font-family: "Lato", sans-serif;
  margin-bottom: 1em;
  margin-top: 1em;
  margin-left: 33rem;

  &:hover {
    border: none;
    color: black;
    font-size: 18px;
    transform: scale(1.1);
  }
}

/* Buttons */
.purple {
  @include buttonBG(#cecece);
}