@import url('https://fonts.googleapis.com/css2?family=Jaldi:wght@700&display=swap');

/* Title */
.section-title {
    text-align: center;
    margin-bottom: 4rem;
    padding-top: 10px;
}

.section-title h4 {
    font-size: 2rem;
    text-transform: capitalize;
    font-family: 'Jaldi', sans-serif;
    background: linear-gradient(175deg, black, grey);
    display: inline;
    background-clip: text;
    -webkit-text-fill-color: transparent;

}

.section-title .underline img {
    width: 20rem;
    margin: -25px;
}

/* end of Title */