html,
body {
    height: 100%;
}

body {
    font-size: 100%;
    line-height: 1.5;
    font-family: "Roboto Slab", sans-serif;
    background: #1d1d45;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: baseline;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    background: #fff;
}

.picture-box {
    background-image: url(http://lorempixel.com/800/900/people/9/);
    background-repeat: no-repeat;
    height: 300px;
}

h1 {
    font-size: 6vw;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-family: Bevan, sans-serif;
}

h1 span {
    display: block;
    color: tomato;
}

.byline {
    font-size: 1em;
    color: #555;
}

.byline>p:first-child {
    font-style: italic;
}

.byline,
.main-article {
    padding: 1em;
}

.main-article p {
    margin-bottom: 16px;
    text-indent: 1em;
}

.main-article section:first-child p:first-child {
    text-indent: 0;
}

.main-article section:first-child p:first-child:first-letter {
    float: left;
    color: tomato;
    font-size: 81px;
    line-height: 60px;
    padding-top: 5px;
    padding-right: 8px;
    padding-left: 3px;
    font-weight: 100;
}