* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content {
    text-align: center;
    width: 100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 85% 85% / 30%;
}

.content .overlay {
    width: 100%;
    height: 100%;
    padding: 8.5rem;
    color: #FFF;
    text-shadow: 1px 1px 1px #333;
    background-image: linear-gradient(100deg, #f77f00 0%, #e9c46a 100%);
}

.logo {
    width: 55rem;
    display: block;
    margin-left: 13rem;
    margin-bottom: -7rem;
}

.top_head {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    background: linear-gradient(to right, grey, white);
    display: inline;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

h3 {

    margin-bottom: 50px;
    font-size: 24px;
    display: block;
}

.top_quote {

    font-family: 'Crimson Text', serif;
    ;
    margin-bottom: 50px;
    font-size: 24px;
    display: block;
    margin-left: 160px;
    background: linear-gradient(to right black, grey);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;
    margin-top: -1rem;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: red;
    color: white;
    font-size: 14px;
}

@media only screen and (max-width: 768px) {
    .top_head {
        display: none;
    }
    .logo {
        width: 20rem;
        display: block;
        margin-left: 0rem;
        margin-bottom: 0rem;
        margin-top: 20px;
    }
    .top_quote {
        display: none;
    
    }
  }