* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content {
    background: url('https://images.unsplash.com/photo-1597310078734-0eef281fd56c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=755&q=80https://images.unsplash.com/photo-1597116636827-1de4805fef3f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=755&q=80');
    text-align: center;
    width: 100%;
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
    border-radius: 0 0 85% 85% / 30%;
}

.content .overlay {
    width: 100%;
    height: 100%;
    padding: 50px;
    color: #FFF;
    text-shadow: 1px 1px 1px #333;
    background-image: linear-gradient(100deg, #9f05ff69 10%, #fd5e086b 100%);
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 80px;
    margin-bottom: 30px;
}

h3,
p {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 30px;
    font-size: 24px;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: red;
    color: white;
    font-size: 14px;
}